/*
 * Lato
================================================================================ */
@font-face {
    font-family: 'lato-regular';
    src:  url('fonts/lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-italic';
    src: url('fonts/lato/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-light';
    src: url('fonts/lato/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-light-italic';
    src: url('fonts/lato/Lato-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-bold';
    src: url('fonts/lato/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-bold-italic';
    src: url('fonts/lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-extrabold';
    src: url('fonts/lato/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato-extrabold-italic';
    src: url('fonts/lato/Lato-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
 * Source Sans Pro
================================================================================ */
@font-face {
    font-family: 'sourcesanspro-bold';
    src: url('fonts/sourcesanspro/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sourcesanspro-italic';
    src: url('fonts/sourcesanspro/SourceSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sourcesanspro-regular';
    src: url('fonts/sourcesanspro/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*
 * FIXED for Font-Face Chrome Rendering
================================================================================ */
@media screen and (-webkit-min-device-pixel-ratio:0) {

   @font-face {
   font-family: 'lato-semibold';
   src: url('fonts/lato/Lato-Bold.ttf') format('truetype');
   }

   @font-face {
   font-family: 'lato-bold';
   src: url('fonts/lato/Lato-Bold.ttf') format('truetype');
   }

}
