/*


   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
	background: #0f0f0f;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
	position: relative;
	height: 800px;
	min-height: 500px;
	width: 100%;
	background: #161415 url(../images/header-back.jpg) no-repeat top center;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	text-align: center;
	overflow: hidden;
}

/* vertically center banner section */
header:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
header .banner {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	width: 85%;
	padding-bottom: 30px;
	text-align: center;
}

header .banner-text {
	width: 100%;
}

header .banner-text h3 {
	font: 20px/1.9em 'sourcesanspro-italic', serif;
	color: #fafafa;
	margin: 0 auto;
	width: 70%;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
header .banner-text h3 span,
header .banner-text h3 a {
	color: #fafafa;
}
header .banner-text hr {
	width: 60%;
	margin: 18px auto 24px auto;
	border-color: black;
	border-color: rgba(150, 150, 150, 0.1);
}

/* header social links */
header .social {
	margin: 24px 0;
	padding: 0;
	font-size: 30px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
header .social li {
	display: inline-block;
	margin: 0 15px;
	padding: 0;
}
header .social li a {
	color: #fafafa;
}
header .social li a:hover {
	color: #6bb2c5;
}

/* scrolldown link */
header .scrolldown a {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -29px;
	color: #fafafa;
	display: block;
	height: 42px;
	width: 42px;
	font-size: 42px;
	line-height: 42px;
	color: #fafafa;
	border-radius: 100%;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
header .scrolldown a:hover {
	color: #6bb2c5;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav-wrap */
#nav-wrap {
	font: 12px 'lato-extrabold', sans-serif;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0 auto;
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
}
.opaque {
	background-color: #6bb2c5;
}
/*6bb2c5*/

/* hide toggle button */
#nav-wrap > a.mobile-btn {
	display: none;
}

ul#nav {
	min-height: 48px;
	width: auto;

	/* center align the menu */
	text-align: center;
}
ul#nav li {
	position: relative;
	list-style: none;
	height: 48px;
	display: inline-block;
}

/* Links */
ul#nav li a {
	/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

	display: inline-block;
	padding: 8px 13px;
	line-height: 32px;
	text-decoration: none;
	text-align: left;
	color: #000000;

	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

ul#nav li a:active {
	background-color: transparent !important;
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
	background: #f2f1f0;
	padding-top: 125px;
	padding-bottom: 66px;
	overflow: hidden;
}

#about a,
#about a:visited {
	color: #fafafa;
}
#about a:hover,
#about a:focus {
	color: #6bb2c5;
}

#about h2 {
	font: 22px/30px 'lato-bold', sans-serif;
	color: #303131;
	margin-bottom: 12px;
}

#about .download {
	width: 58.33333%;
	padding-top: 6px;
}
#about .main-col {
	padding-right: 5%;
}
#about .download .button {
	margin-top: 6px;
	background: #303131;
}
#about .download .button:hover {
	background: #6bb2c5;
	color: #000000;
}
#about .download .button i {
	margin-right: 15px;
	font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
	background: #fafafa;
	padding-top: 90px;
	padding-bottom: 72px;
	overflow: hidden;
}

#resume a,
#resume a:visited {
	color: #6bb2c5;
}
#resume a:hover,
#resume a:focus {
	color: #313131;
}

#resume h1 {
	font: 18px/24px 'lato-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#resume h1 span {
	border-bottom: 3px solid #6bb2c5;
	padding-bottom: 6px;
}
#resume h3 {
	font: 25px/30px 'lato-bold', sans-serif;
}

#resume .header-col {
	padding-top: 9px;
}
#resume .main-col {
	padding-right: 10%;
}

.education,
.work {
	margin-bottom: 48px;
	padding-bottom: 24px;
	border-bottom: 1px solid #e8e8e8;
}
#resume .info {
	font: 16px/24px 'sourcesanspro-italic', serif;
	color: #121212;
	margin-bottom: 18px;
	margin-top: 9px;
}
#resume .info span {
	margin-right: 5px;
	margin-left: 5px;
}
#resume .date {
	font: 15px/24px 'lato-regular', sans-serif;
	margin-top: 6px;
}

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
	background: #f2f1f0;
}

/* Portfolio Content */
#portfolio-wrapper .columns {
	margin-bottom: 36px;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
	opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
	opacity: 0;
}

/* ------------------------------------------------------------------ */
/* f. Call To Action Section
/* ------------------------------------------------------------------ */

#call-to-action {
	background: #212121;
	padding-top: 66px;
	padding-bottom: 48px;
}
#call-to-action h1 {
	font: 18px/24px 'lato-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fafafa;
}
#call-to-action h1 span {
	display: none;
}
#call-to-action .header-col h1:before {
	font-family: 'FontAwesome';
	content: '\f0ac';
	padding-right: 10px;
	font-size: 72px;
	line-height: 72px;
	text-align: left;
	float: left;
	color: #fafafa;
}
#call-to-action .action {
	margin-top: 12px;
}
#call-to-action h2 {
	font: 28px/36px 'lato-bold', sans-serif;
	color: #ebeeee;
	margin-bottom: 6px;
}
#call-to-action h2 a {
	color: inherit;
}
#call-to-action p {
	color: #636363;
	font-size: 17px;
}
/*#
call-to-action .button {
	color:#fafafa;
   background: #0D0D0D;
}
*/
#call-to-action .button:hover,
#call-to-action .button:active {
	background: #fafafa;
	color: #0d0d0d;
}
#call-to-action p span {
	font-family: 'lato-bold', sans-serif;
	color: #d8d8d8;
}

/* ------------------------------------------------------------------
/* g. Testimonials
/* ------------------------------------------------------------------ */

#testimonials {
	background-size: cover !important;
	-webkit-background-size: cover !important;
	background-attachment: fixed;

	position: relative;
	min-height: 200px;
	width: 100%;
	overflow: hidden;
}
#testimonials .text-container {
	padding-top: 96px;
	padding-bottom: 66px;
}
#testimonials h1 {
	font: 18px/24px 'lato-bold', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fafafa;
}
#testimonials h1 span {
	display: none;
}
#testimonials .header-col {
	padding-top: 9px;
}
#testimonials .header-col h1:before {
	font-family: 'FontAwesome';
	content: '\f10d';
	padding-right: 10px;
	font-size: 72px;
	line-height: 72px;
	text-align: left;
	float: left;
	color: #fafafa;
}

/*	Blockquotes */
#testimonials blockquote {
	margin: 0 0px 30px 0px;
	padding-left: 0;
	position: relative;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
#testimonials blockquote:before {
	content: none;
}
#testimonials blockquote p {
	font-family: 'sourcesanspro-italic', serif;
	padding: 0;
	font-size: 24px;
	line-height: 48px;
	color: #fafafa;
}
#testimonials blockquote cite {
	display: block;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	color: #fafafa;
}
#testimonials blockquote cite:before {
	content: '\2014 \0020';
}
#testimonials blockquote cite a,
#testimonials blockquote cite a:visited {
	color: #8b9798;
	border: none;
}

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus {
	outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.slides li {
	margin: 0;
	padding: 0;
}

/* Necessary Styles */
.flexslider {
	position: relative;
	zoom: 1;
	margin: 0;
	padding: 0;
}
.flexslider .slides {
	zoom: 1;
}
.flexslider .slides > li {
	position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
	display: none;
	backface-visibility: hidden;
}
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container {
	zoom: 1;
	position: relative;
}

/* Clearfix for .slides */
.slides:before,
.slides:after {
	content: ' ';
	display: table;
}
.slides:after {
	clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}

/* Slider Styles */
.slides {
	zoom: 1;
}
.slides > li {
	/*margin-right: 5px; */
	overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -20px;
	text-align: left;
}
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.flex-control-paging li a {
	width: 12px;
	height: 12px;
	display: block;
	background: #ddd;
	background: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
}
.flex-control-paging li a:hover {
	background: #ccc;
	background: rgba(255, 255, 255, 0.7);
}
.flex-control-paging li a.flex-active {
	background: #fafafa;
	background: rgba(255, 255, 255, 0.9);
	cursor: default;
}
