.animate {
    font: 90px/1.1em 'lato-bold', sans-serif;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);

    @media only screen and (max-width: 1024px) {
        font: 80px/1.1em 'lato-bold', sans-serif;
        letter-spacing: -1px;
        margin: 0 auto 12px auto;
    }

    @media only screen and (max-width: 900px) {
        font: 78px/1.1em 'lato-bold', sans-serif;
        letter-spacing: -1px;
    }

    @media only screen and (max-width: 767px) {
        font: 68px/1.1em 'lato-bold', sans-serif;
    }

    @media only screen and (max-width: 480px) {
        font: 40px/1.1em 'lato-bold', sans-serif;
        margin: 0 auto 24px auto;
    }
}

.animate span {
    display: inline-block;
}

.animate span:nth-of-type(2) {
    animation-delay: 0.05s;
}
.animate span:nth-of-type(3) {
    animation-delay: 0.1s;
}
.animate span:nth-of-type(4) {
    animation-delay: 0.15s;
}
.animate span:nth-of-type(5) {
    animation-delay: 0.2s;
}
.animate span:nth-of-type(6) {
    animation-delay: 0.25s;
}
.animate span:nth-of-type(7) {
    animation-delay: 0.3s;
}
.animate span:nth-of-type(8) {
    animation-delay: 0.35s;
}
.animate span:nth-of-type(9) {
    animation-delay: 0.4s;
}
.animate span:nth-of-type(10) {
    animation-delay: 0.45s;
}
.animate span:nth-of-type(11) {
    animation-delay: 0.5s;
}
.animate span:nth-of-type(12) {
    animation-delay: 0.55s;
}
.animate span:nth-of-type(13) {
    animation-delay: 0.6s;
}
.animate span:nth-of-type(14) {
    animation-delay: 0.65s;
}
.animate span:nth-of-type(15) {
    animation-delay: 0.7s;
}
.animate span:nth-of-type(16) {
    animation-delay: 0.75s;
}
.animate span:nth-of-type(17) {
    animation-delay: 0.8s;
}
.animate span:nth-of-type(18) {
    animation-delay: 0.85s;
}
.animate span:nth-of-type(19) {
    animation-delay: 0.9s;
}
.animate span:nth-of-type(20) {
    animation-delay: 0.95s;
}

.animationOne span {
    color: #fafafa;
    opacity: 0;
    transform: translate(-150px, -50px) rotate(-180deg) scale(3);
    animation: revolveScale 0.4s forwards;
}

@keyframes revolveScale {
    60% {
        transform: translate(20px, 20px) rotate(30deg) scale(0.3);
    }

    100% {
        transform: translate(0) rotate(0) scale(1);
        opacity: 1;
    }
}
