.skillbar {
	position: relative;
	display: block;
	margin-bottom: 30px;
	width: 100%;
	background: $grey50;
	height: 35px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	-o-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	-moz-transition-property: width, background-color;
	-ms-transition-property: width, background-color;
	-o-transition-property: width, background-color;
	transition-property: width, background-color;
}

.skillbar-title {
	position: absolute;
	font: 15px 'lato-bold', sans-serif;
	color: $black-custom;
	text-transform: uppercase;
	letter-spacing: 1px;
	top: 0;
	left: 0;
	background: $background-ligthBlue;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.skillbar-title span {
	display: block;
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.skillbar-bar {
	height: 35px;
	width: 0px;
	background: $background-ligthBlue;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
